// HEADER
.port-navbar.port-default {
  width: 100%;
  z-index: 15;
  padding: 40px;

  .port-navbar {
    &-brand {
      color: black;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: black;
      font-weight: bold;
      letter-spacing: 0.8px;
      font-size: 18px;
      text-transform: uppercase;

      &.active {
        color: #017a48;
      }

      &:hover,
      &:focus {
        color: #017a48;
      }
    }
  }
}

.menu-open {
  background-color: white !important;
  -webkit-box-shadow:  0 -8px 20px -6px black;
    -moz-box-shadow:  0 -8px 20px -6px black;
    box-shadow: 0 -8px 20px -6px black;
}

.menu-close {
  transition: 0.5s;
}

@media (max-width: 591px) {
  .port-navbar.port-default {
    padding: 20px;

    .port-navbar {
      &-brand {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }

  .navbar-brand {
    margin-right: 0;
  }
}
